* {
   box-sizing: border-box;

   /* Custom Colours */
   --Orange: hsl(25, 97%, 53%);
   --White: hsl(0, 0%, 100%);
   --LightGrey: hsl(217, 12%, 63%);
   --MediumGrey: hsl(216, 12%, 54%);
   --DarkBlue: hsl(213, 19%, 18%);
   --VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
   display: flex;
   min-height: 100vh;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background: var(--VeryDarkBlue);
}

.container {
   background-color: var(--DarkBlue);
   width: 25em;
   height: 25em;
   border-radius: 2em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 1em;
}

.star-circle {
   background-color: hsl(213, 19%, 25%);
   width: 2em;
   height: 2em;
   padding: 1.5em;
   border-radius: 2em;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container h1 {
   color: var(--White);
}

.container p {
   font-size: 1.2rem;
   line-height: 1.6em;
   color: var(--MediumGrey);
}